/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET */
/* SETTING */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  color: #262626;
  letter-spacing: .07em;
  line-height: 1.5;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #800080;
}

a:focus, a:hover {
  border-bottom: 1px solid #0000ff;
  text-decoration: none;
}

a:active {
  color: #0000ff;
}

img,
iframe {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  vertical-align: bottom;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

button:hover, button:focus {
  background-color: #0000ff;
}

button:focus {
  outline: 1px solid #0000ff;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/* SETTING */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MODULE */
.wrap {
  position: relative;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-button {
  width: 50px;
  height: 50px;
  position: relative;
}

.bar {
  position: absolute;
  left: 2px;
  width: 45px;
  border: 2px solid #000000;
}

.bar_top {
  top: 5%;
}

.bar_middle {
  top: 50%;
}

.bar_bottom {
  bottom: 5%;
}

.js-clicked .bar_top {
  -webkit-transform: translateY(20px) rotate(45deg);
          transform: translateY(20px) rotate(45deg);
}

.js-clicked .bar_middle {
  opacity: 0;
}

.js-clicked .bar_bottom {
  -webkit-transform: translateY(-20px) rotate(-45deg);
          transform: translateY(-20px) rotate(-45deg);
}

@media only screen and (max-width: 1279px) {
  .gnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .gnav-item {
    margin-bottom: 1.5em;
  }
}

@media only screen and (min-width: 1280px) {
  .gnav {
    position: absolute;
    top: -17%;
    right: 10%;
    -webkit-transform: translate(-17%, 10%);
            transform: translate(-17%, 10%);
  }
  .gnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space- between;
        -ms-flex-pack: space- between;
            justify-content: space- between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gnav-item {
    margin-right: 2rem;
  }
  .gnav-link {
    color: #070B0D;
  }
}

/* gnav */
/* main */
.main {
  max-width: 1280px;
  margin: 120px auto;
}

@media only screen and (max-width: 1279px) {
  .main {
    padding: 0 4vw;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    padding: 0 10vw;
  }
}

/* main */
.article-title {
  font-size: 2.4rem;
}

@media only screen and (min-width: 1280px) {
  .article-title {
    font-size: 4rem;
  }
}

.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

@media only screen and (min-width: 1280px) {
  .section-title {
    font-size: 3.1rem;
  }
}

/* footer */
.footer {
  height: 50px;
}

/* footer */
/* about */
/* about */
/* contact */
/* contact */
/* MODULE */
/* ANIMATION */
/* ANIMATION */
/* OBJECT */
/* OBJECT */
/*# sourceMappingURL=style.css.map */