@charset "utf-8";

/* RESET */
 @import "RESET/_reset.scss";
/* RESET */
 
/* SETTING */
 @import "SETTING/_color.scss";
 @import "SETTING/_typography.scss";
 @import "SETTING/_base.scss";
 @import "SETTING/_breakpoint.scss";
 @import "SETTING/_icon.scss";
 @import "SETTING/_sns.scss";
/* SETTING */
  
// LAYOUT
 @import "LAYOUT/_flex.scss";
 @import "LAYOUT/_layout.scss";
// LAYOUT

/* MODULE */
 @import "MODULE/_wrap.scss";
 @import "MODULE/_header.scss";
 @import "MODULE/_gnav.scss";
 @import "MODULE/_main.scss";
 @import "MODULE/_article.scss";
 @import "MODULE/_section.scss";
 @import "MODULE/_footer.scss";
 @import "MODULE/_about.scss";
 @import "MODULE/_contact.scss";
/* MODULE */
 
/* ANIMATION */

/* ANIMATION */
 
/* OBJECT */
 
/* OBJECT */





