html {
 font-size: 62.5%;
 // rootのfont-sizeを10pxに設定
}

body {
 // 1rem = 10px : body内では指定がなければ、16px
 font-size: 1.6em;
//   font-family: ;
//   color: ;
}
// font-size https://yuyakinoshita.com/blog/2019/01/31/readability-and-typography/
 // pc
 $title-size-pc: 4.0rem; // タイトルのサイズ
 $heading-size-pc: 3.1rem; // 見出しのサイズ
 $subheading-size-pc: 2.4rem; // 小見出しのサイズ
 // pc

 // sp
 $title-size-sp: 2.4rem; // タイトルのサイズ
 $heading-size-sp: 2.2rem; // 見出しのサイズ
 $subheading-size-sp: 2.0rem; // 小見出しのサイズ
 // sp
// font-size

body {
 font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

$indent: 1rem;
