a {
    text-decoration: none;
    color: #ffffff;
}
img {
    width: 100%;/* imgにはwidth: 100%;を設定し、外側の囲みに対して、max-width: 100%; を設定する */
    vertical-align: bottom;
    object-fit: cover;
}
button {
     background-color: transparent;
     border: none;
     cursor: pointer;
     outline: none;
     padding: 0;
     appearance: none;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

input,
textarea {
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
}
