@mixin horizontal-align($space) {// 水平方向に中央揃え
  // display: block;
  // width: 100%;
  // margin: 0 auto;
  display: flex;
  justify-content: space-$space;
  align-items: center;
}

%vertical-align {// 垂直方向に中央揃え
  align-items: center;
}

%centering {// 上下左右中央揃え
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer" 
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}