.article {
 &-title {
  font-size: $title-size-sp;
 }
}

@include mq('pc') {
 .article {
  
  &-title {
   font-size: $title-size-pc;
  }
  
  &_top {
   // grid-row: 1 / 4;
   // grid-column: 1 / 4;
  }

  &_contact {
   
  }
 }
}

