// .gnav {}

@include mq('tab') {
  .gnav {
    // width: 767px;未満の時は
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .8);
    position: absolute;// z-indexのため
    z-index: -10;// 背面に置いておく
    // transform: translateX(100%);
    &.js-show {
      z-index: 10;// 最前面におく(headerはz-index: 20;)
      // transform: translateX(0);
    }
    &-item {
      margin-bottom: 1.5em;
    }
  }
  
}

@include mq('pc') {
  .gnav {
    position: absolute;
    z-index: 20;
    top: 1%;
    right: 10%;
    transform: translate(1%, 10%);

    &-list {
      @include horizontal-align(between);
    }

    &-item {
      margin-right: 2rem;
    }

    &-link {
      color: $main-color;
    }
  }
  
}


/* gnav */