.gnav {

}

@include mq('tab') {
 .gnav {
  // transform: translateX(-100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-item {
    margin-bottom: 2rem;
  }
 }
 
}

@include mq('pc') {
  .gnav {
   
    &-list {
    @include horizontal-align(between);
    
    display: flex;
        &-item {
        margin-right: 16px;
        }

      }
    &-link {
      color: $main-color;
    }
}
}
/* gnav */
