/* header */
.header {
  width: 100%;
  max-width: $layout-width-inner;
  position: relative;
  z-index: 10;
  
  &-wrap {
  max-width: 100%;
  position: absolute;
  padding: 2vh 4vw;
  top: 0;
  right: 1%;
 }
}

.site-title {
  color: $main-color;
  margin-bottom: 8px;
  font-size: $title-size-sp;
}

@include mq('pc') {
  .header {
    &-wrap {
      right: -10%;
    }
  }
  .site-title {
    font-size: $title-size-pc;
  }
}
