/* header */
.header {
  width: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 0 4vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-button {
    width: 50px;
    height: 50px;
    position: relative;
  }
}

@include mq('pc') {
  .header {
    
    &-button {
      display: none;
    }
  }
}
.bar {
  position: absolute;
  left: 2px;
  width: 45px;
  border: 2px solid #000000;
  z-index: 50;
  &_top {
    top: 5%;
  }
  &_middle {
    top: 50%;
  }
  &_bottom {
    bottom: 5%;
  }
}


.js-clicked {

  .bar {
    z-index: 20;
    &_top {
      transform: translate(2px, 22px) rotate(45deg);
    }
    &_middle {
      opacity: 0;
    }
    &_bottom {
      transform: translate(2px, -20px) rotate(-45deg);
    }
  }
}

