/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 0 4vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  // 見やすいくするため 後で消す
  // background-color: #000000;
  // opacity: .5;
  // 見やすいくするため 後で消す

  &-button {
    width: 50px;
    height: 50px;
    position: relative;
  }
}
.bar {
  position: absolute;
  left: 2px;
  width: 45px;
  border: 2px solid #000000;
  &_top {
    top: 5%;
  }
  &_middle {
    top: 50%;
  }
  &_bottom {
    bottom: 5%;
  }
}

.js-clicked {
  .bar {

    &_top {
      transform: translateY(20px) rotate(45deg);
    }
    &_middle {
      opacity: 0;
    }
    &_bottom {
      transform: translateY(-20px) rotate(-45deg);
    }
  }
}
