/* main */
.main {
 width: 100%;
 max-width: 1280px;
 margin: 80px auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

@include mq('tab') {
 .main {
  padding: 0 4vw;
 }
}

@include mq('pc') {
 .main {
  padding: 0 10vw;
 }
}
/* main */