@include mq('pc') {
 .card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 4%;
  row-gap: 8%;
 }
}

.card {
 display: flex;
 flex-direction: column;
 background-color: #fff;
 margin-bottom: 8%;
 padding-bottom: 5%;


 &-img {
  margin-bottom: 3%;
 }

 &-text {
  padding: 0 2vw;
  margin-bottom: 1%;
 }

 &-link {
  padding: 0 2vw;
  margin-top: auto;
  margin-bottom: 1%;
  display: block;
  &:focus, &:active, &:hover {
   border-bottom: 0 solid;
   border: 1px solid $active-color;
  }
 }
}