@include mq('tab') {
 .section {
  &-title {
   font-size: $heading-size-sp;
   font-weight: bold;
   margin-bottom: .5rem;
  }
  &-wrap {
   display: flex;
   align-items: flex-end;
  }
  &-link {
   margin-right: 2%;
  }
 }
}

@include mq('pc') {
 .section {
  &-title {
   font-size: $heading-size-pc;
  }
 }
}

