.wrap {
  
 &_top {
  min-height: 100vh;
  background:
   url("../IMAGES/background_top.jpg")
   center / // position https://developer.mozilla.org/ja/docs/Web/CSS/background-position
   cover // size https://developer.mozilla.org/ja/docs/Web/CSS/background-size
   no-repeat // repeat
   rgba(255, 255, 255, .5) // color 背景画像を透過させたい
   ;
   background-blend-mode:lighten;// 背景画像を透過させる https://note.com/jackinriver/n/n4383898ce0c6
 }

 &_about {
  min-height: 100vh;
  background:
   url("../IMAGES/background_about.jpg")
   center / // position https://developer.mozilla.org/ja/docs/Web/CSS/background-position
   cover // size https://developer.mozilla.org/ja/docs/Web/CSS/background-size
   no-repeat // repeat
   rgba(255, 255, 255, .5) // color 背景画像を透過させたい
   ;
   background-blend-mode:lighten;// 背景画像を透過させる https://note.com/jackinriver/n/n4383898ce0c6
 }
 
 &_portfolio {
  min-height: 100vh;
  background:
   url("../IMAGES/background_portfolio.jpg")
   center / // position https://developer.mozilla.org/ja/docs/Web/CSS/background-position
   cover // size https://developer.mozilla.org/ja/docs/Web/CSS/background-size
   no-repeat // repeat
   rgba(255, 255, 255, .5) // color 背景画像を透過させたい
   ;
   background-blend-mode:lighten;// 背景画像を透過させる https://note.com/jackinriver/n/n4383898ce0c6
 }

 &_contact {
  height: 100vh;
  background:
   url("../IMAGES/background_contact.jpg")
   center / // position https://developer.mozilla.org/ja/docs/Web/CSS/background-position
   cover // size https://developer.mozilla.org/ja/docs/Web/CSS/background-size
   no-repeat // repeat
   rgba(255, 255, 255, .5) // color 背景画像を透過させたい
   ;
   background-blend-mode:lighten;// 背景画像を透過させる https://note.com/jackinriver/n/n4383898ce0c6
 }
}
